doctype html
html(lang = "en")
  head
    meta(charset = "utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name = "description" content = "Is my district gerrymandered?")
    meta(name = "author" content = "Jeffrey Shen")

    title Is my district gerrymandered? | #{district_data.state}-#{district_data.district}
    
    link(href = "/bower_components/font-awesome/css/font-awesome.min.css" rel = "stylesheet" type = "text/css") 
    link(href = "/dist/CSS/district.css" rel = "stylesheet" type = "text/css")
    script(src = "/bower_components/jquery/dist/jquery.min.js")
    script(src = "http://d3js.org/d3.v3.min.js")
    script(src = "/dist/JS/district-min.js")
  
  body(lang = "en")
    #wrapper
      center
        
        img#svg.svg(src = "/data/svgs/" + district_data.state + "_" + district_data.district +".svg")
        br
        br
        h1 #{district_data.district_name}
        br
        p.subtitle Most likely <strong>NOT</strong> gerrymandered (Gerrymandering level: <strong>3/100</strong>). 
        a(href = "/about") See how we get this score
        br 
        br 
        p 
          i.fa.fa-fw.fa-square-o 
          | Compact
          i.fa.fa-fw.fa-square-o 
          | Minimal Voter Wastage
          if district_data.redistricting_control === "Independent"
            i.fa.fa-fw.fa-check-square-o 
          else 
            i.fa.fa-fw.fa-square-o 
          | Split Redistricting Control
        br
        ul 
          li 2nd most compact district (5% more compact than state average, 10% more than compact average).
          li Allowable 4% efficiency gap favoring Republicans (a.k.a Democrats waste more votes in #{district_data.state_name}). An efficiency gap below 7% is considered acceptable.
          li #{district_data.redistricting_control} redistricting control
        br
        input.btn(value = "CONTACT REPRESENTATIVE")
    footer
      .left
        if district_data.previous_district != null
          a(href = "/district/" + district_data.previous_district)
            i.fa.fa-fw.fa-chevron-left
            | #{district_data.previous_district}
        else
          a.hidden() text 
      .center
        a(href = "/") Go back home
      .right
        if district_data.next_district != null
          a(href = "/district/" + district_data.next_district)
            i.fa.fa-fw.fa-chevron-right
            | #{district_data.next_district}
        else
          a.hidden() text 
    
