doctype html
html(lang = "en")
  head
    meta(charset = "utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name = "description" content = "Is my district gerrymandered?")
    meta(name = "author" content = "Jeffrey Shen")

    title Is my district gerrymandered? | #{district_data.state}-#{district_data.district}
    
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ==" crossorigin="")
    script(src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log==" crossorigin="")
    link(href = "/bower_components/font-awesome/css/font-awesome.min.css" rel = "stylesheet" type = "text/css") 
    link(href = "/dist/CSS/district.css" rel = "stylesheet" type = "text/css")
    script(src = "/bower_components/jquery/dist/jquery.min.js")
    script(src = "http://d3js.org/d3.v3.min.js")
  
  body(lang = "en")
    #fb-root
    script.
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=1891964484181442&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    
    #wrapper
      #map(data-affiliation = district_data.affiliation)
      br
      br
      h1 #{district_data.district_name}
      br
      -var isCompact = district_data.compactness.absolute >= 0.287;
      -var minimalVoterWastage = parseInt(district_data.efficiency_gap.substring(1)) < 2;
      -var nonBiasedRedistricting = district_data.redistricting_control_code === "II";
        
      .subtitle-row
        p.subtitle(style = "display:inline")
          if district_data.gerrymander_score == 0
            | Absolutely <strong>NOT</strong> gerrymandered.
          else if district_data.gerrymander_score < 50
            | Most likely <strong>NOT</strong> gerrymandered.
          else 
            | Most likely <strong>IS</strong> gerrymandered.
          | &nbsp;
        .fb-share-button(data-href="http://ismydistrictgerrymandered.us" data-layout="button_count" data-size="small" data-mobile-iframe="true" style = "display:inline;position:relative;top:-4px;")
          a.fb-xfbml-parse-ignore(target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fismydistrictgerrymandered.us%2F&amp;src=sdkpreparse") Share
      a(href = "https://github.com/jeffreyshen19/Is-My-District-Gerrymandered/blob/master/README.md" target = "_blank") See how we get this
      br    
      br    
      .checkboxes
        if district_data.district !== 0
          p.checkbox
            if isCompact
              i.fa.fa-fw.fa-check-square-o 
            else 
              i.fa.fa-fw.fa-square-o 
            | Compact
          p.checkbox
            if minimalVoterWastage
              i.fa.fa-fw.fa-check-square-o 
            else 
              i.fa.fa-fw.fa-square-o 
            | Minimal Voter Wastage
          p.checkbox
            if nonBiasedRedistricting
              i.fa.fa-fw.fa-check-square-o 
            else 
              i.fa.fa-fw.fa-square-o 
            | Bipartisan, Independent Redistricting Control
      br
      ul 
        if district_data.district == 0
          li This district is absolutely not gerrymandered, because its state only has one district. 
        else 
          //Compactness  
          -var statePercent = (100.0 * (district_data.compactness.absolute - district_data.compactness.state) / district_data.compactness.state).toFixed(1)
          -var countryPercent = (100.0 * (district_data.compactness.absolute - district_data.compactness.country) / district_data.compactness.country).toFixed(1)
          li!= "<strong>" + district_data.compactness.rank + " least compact district</strong> (out of 435 districts) (" + (statePercent > 0 ? statePercent + "% more" : -1 * statePercent + "% less") + " compact than state average, " + (countryPercent > 0 ? countryPercent + "% more" : countryPercent * -1 + "% less") + " compact than country average)."
          
          //Efficiency
          - var efficiency_gap = parseInt(district_data.efficiency_gap.substring(1))
          - var efficiency_favors = district_data.efficiency_gap.substring(0, 1);
          
          if efficiency_gap == 0
            li!= "No voter efficiency gap in " + district_data.state_name + " (a.k.a Republicans and Democrats are equally efficient in converting votes to seats)."
          else 
            li!= "<strong>" + (efficiency_gap < 2 ? "Allowable " : "Unacceptably large ") + "</strong>" + efficiency_gap + " seat efficiency gap favoring " + (efficiency_favors === "R" ? "<em class = 'red'>Republicans</em>" : "<em>Democrats</em>") + " (a.k.a " + (efficiency_favors !== "R" ? "Republicans" : "Democrats") + " waste more votes in " + district_data.state_name  + "). An efficiency gap below 2 seats is considered acceptable." 
          
          //Redistricting Control
          li!= district_data.redistricting_control
          
        //Affiliation
        if district_data.affiliation === "Republican"
          li <em class = "red">Representative:</em> #{district_data.rep} (R)
        else if district_data.affiliation === "Democrat"
          li <em>Representative:</em> #{district_data.rep} (D)
            
        if district_data.state_affiliation === "Republican"
          li <em class = "red">Republican</em> State
        else if district_data.state_affiliation === "Democrat"
          li <em>Democrat</em> State
        br
        p
          i Disclaimer: Determing whether a district is gerrymandered is a complicated issue that has not yet been solved. I am not an expert on this subject, just an enthusiastic citizen; Therefore, use this website with a grain of salt and understand that this site, while mostly accurate, misses some key nuances. 
          | Source code is available <a href = "https://github.com/jeffreyshen19/Is-My-District-Gerrymandered">here</a>.
    footer
      .left
        if district_data.previous_district != null
          a(href = "/district/" + district_data.previous_district)
            i.fa.fa-fw.fa-chevron-left
            | #{district_data.previous_district}
        else
          a.hidden() text 
      .center
        a(href = "/") Go back home
      .right
        if district_data.next_district != null
          a(href = "/district/" + district_data.next_district)
            i.fa.fa-fw.fa-chevron-right
            | #{district_data.next_district}
        else
          a.hidden() text 
          
  script(src = "/dist/JS/district-min.js")
    
