doctype html
html(lang = "en")
  head
    meta(charset = "utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name = "description" content = "Is my district gerrymandered?")
    meta(name = "author" content = "Jeffrey Shen")

    title Is my district gerrymandered? | #{district_data.state}-#{district_data.district}
    
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ==" crossorigin="")
    script(src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log==" crossorigin="")
    link(href = "/bower_components/font-awesome/css/font-awesome.min.css" rel = "stylesheet" type = "text/css") 
    link(href = "/dist/CSS/district.css" rel = "stylesheet" type = "text/css")
    script(src = "/bower_components/jquery/dist/jquery.min.js")
    script(src = "http://d3js.org/d3.v3.min.js")
  
  body(lang = "en")
    #wrapper
      center
        #map(data-affiliation = district_data.affiliation)
        br
        br
        h1 #{district_data.district_name}
        br
        if district_data.gerrymander_score == 0
          p.subtitle Absolutely <strong>NOT</strong> gerrymandered (Gerrymandering level: <strong>0/100</strong>). 
        else if district_data.gerrymander_score < 50
          p.subtitle Most likely <strong>NOT</strong> gerrymandered (Gerrymandering level: <strong>#{district_data.gerrymander_score}/100</strong>). 
        else 
          p.subtitle Most likely <strong>IS</strong> gerrymandered (Gerrymandering level: <strong>#{district_data.gerrymander_score}/100</strong>). 
        a(href = "/about") See how we get this score
        br 
        br 
        p 
          if district_data.compactness.absolute >= district_data.compactness.country
            i.fa.fa-fw.fa-check-square-o 
          else 
            i.fa.fa-fw.fa-square-o 
          | Compact
          
          if (parseFloat(district_data.efficiency_gap.substring(1)) * 100.0).toFixed(1) < 7
            i.fa.fa-fw.fa-check-square-o 
          else 
            i.fa.fa-fw.fa-square-o 
          | Minimal Voter Wastage
          
          if district_data.district !== 0 || district_data.district !== 00
            if district_data.redistricting_control === "Independent"
              i.fa.fa-fw.fa-check-square-o 
            else 
              i.fa.fa-fw.fa-square-o 
            | Split Redistricting Control
        br
        ul 
          //Compactness  
          -var statePercent = (100.0 * (district_data.compactness.absolute - district_data.compactness.state) / district_data.compactness.state).toFixed(1)
          -var countryPercent = (100.0 * (district_data.compactness.absolute - district_data.compactness.country) / district_data.compactness.country).toFixed(1)
          li!= "<strong>" + district_data.compactness.rank + " least compact district</strong> (out of 435 districts) (" + (statePercent > 0 ? statePercent + "% more" : -1 * statePercent + "% less") + " compact than state average, " + (countryPercent > 0 ? countryPercent + "% more" : countryPercent * -1 + "% less") + " compact than country average)."
          
          //Efficiency
          - var efficiency_percent = (parseFloat(district_data.efficiency_gap.substring(1)) * 100.0).toFixed(1)
          - var efficiency_favors = district_data.efficiency_gap.substring(0, 1);
          li!= "<strong>" + (efficiency_percent < 7 ? "Allowable " : "Unacceptably large ") + "</strong>" + efficiency_percent + "% efficiency favoring " + (efficiency_favors === "R" ? "<em class = 'red'>Republicans</em>" : "<em>Democrats</em>") + " (a.k.a " + (efficiency_favors !== "R" ? "Republicans" : "Democrats") + " waste more votes in " + district_data.state_name  + "). An efficiency gap below 7% is considered acceptable." 
          
          //Redistricting Control
          if district_data.redistricting_control === "Democrat" 
            li <em>Democrat</em> redistricting control
          else if district_data.redistricting_control === "Republican" 
            li <em class = "red">Republican</em> redistricting control  
          else if district_data.redistricting_control === "Independent" 
            li <strong>Split</strong> redistricting control
          else 
            li= district_data.redistricting_control
            
          //Affiliation
          if district_data.affiliation === "Republican"
            li <em class = "red">Representative:</em> #{district_data.rep} (R)
          else if district_data.affiliation === "Democrat"
            li <em>Representative:</em> #{district_data.rep} (D)
            
          if district_data.state_affiliation === "Republican"
            li <em class = "red">Republican</em> State
          else if district_data.state_affiliation === "Democrat"
            li <em>Democrat</em> State
    footer
      .left
        if district_data.previous_district != null
          a(href = "/district/" + district_data.previous_district)
            i.fa.fa-fw.fa-chevron-left
            | #{district_data.previous_district}
        else
          a.hidden() text 
      .center
        a(href = "/") Go back home
      .right
        if district_data.next_district != null
          a(href = "/district/" + district_data.next_district)
            i.fa.fa-fw.fa-chevron-right
            | #{district_data.next_district}
        else
          a.hidden() text 
          
  script(src = "/dist/JS/district-min.js")
    
